body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #04aa6d;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: seagreen;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* universal */
* [lang^="en"] {
  color: green;
}

#top {
  background-color: #33ff88;
  margin-top: 15px;
  padding-top: 10px;
  border-color: grey;
  border-width: 2px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

fieldset {
  margin-top: 4px;
  background-color: #8f8e6e;
}

legend {
  color: #d46622;
  background-color: #ccadbe;
  border-width: 1px;
  border-style: solid;
  border-color: #72072e;
  padding: 3px;
  font-weight: bold;
}

table {
  width: 80%;
  margin: 4px;
  padding: 4px;
}

td {
  padding: 2px;
}

.required:after {
  content: " *";
  color: #ffa600;
}

.cvposition {
  background-color: #ccadbe;
  font-style: italic;
  color: blue;
}

#data > p {
  padding-left: 8px;
}

#master-degree {
  color: blue;
  font-size: large;
}

h3[lang] {
  background-color: silver;
}
